<div id="<%= dom_id commune %>">
  <p>
    <strong>Code:</strong>
    <%= commune.code %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= commune.nom %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= commune.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= commune.longitude %>
  </p>

  <p>
    <strong>Arrondissement:</strong>
    <%= commune.arrondissement_id %>
  </p>

</div>
