<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="danger">
    <%= flash[:danger] %>
  </div>
  
  <div class="actions">
    <%= form.label :email %> 
    <%= form.email_field :email %> 

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Connexion"%>
  </div>
<% end %>
