<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :Type, style: "display: block" %>
    <%= form.text_field :typeannonce %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.label :livrable, style: "display: block" %>
    <%= form.check_box :livrable %>
  </div>

  <div>
    <%= form.label :adresse, style: "display: block" %>
    <%= form.text_field :adresse %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :paysannonce_id, style: "display: block" %>
    <%= form.text_field :paysannonce_id %>
  </div>

  <div>
    <%= form.label :region_id, style: "display: block" %>
    <%= form.text_field :region_id %>
  </div>

  <div>
    <%= form.label :departement_id, style: "display: block" %>
    <%= form.text_field :departement_id %>
  </div>

  <div>
    <%= form.label :arrondissement_id, style: "display: block" %>
    <%= form.text_field :arrondissement_id %>
  </div>

  <div>
    <%= form.label :classification_id, style: "display: block" %>
    <%= form.text_field :classification_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
      <%= form.label :icone %>
      <%= form.file_field :icone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
