<div id="<%= dom_id publication %>">
  <p>
    <strong>Titre:</strong>
    <%= publication.titre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= publication.type %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= publication.prix %>
  </p>

  <p>
    <strong>Livrable:</strong>
    <%= publication.livrable %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= publication.adresse %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= publication.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= publication.longitude %>
  </p>

  <p>
    <strong>Paysannonce:</strong>
    <%= publication.paysannonce_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= publication.region_id %>
  </p>

  <p>
    <strong>Departement:</strong>
    <%= publication.departement_id %>
  </p>

  <p>
    <strong>Arrondissement:</strong>
    <%= publication.arrondissement_id %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= publication.classification_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

  <p>
    <strong>Icone file name:</strong>
    <%= publication.icone_file_name %>
  </p>

  <p>
    <strong>Icone file size:</strong>
    <%= publication.icone_file_size %>
  </p>

  <p>
    <strong>Icone content type:</strong>
    <%= publication.icone_content_type %>
  </p>

  <p>
    <strong>Icone updated at:</strong>
    <%= publication.icone_updated_at %>
  </p>

</div>
