        <!-- Header-->
        <header class="bg-warning py-2">
          <div class="text-center text-black">
            <h3 class="fw-bolder">Des millions de petites annonces et autant d’occasions de se faire plaisir</h3>

           <p style="color: green"><%= notice %></p>
            <div class="container">
              <%= form_with url: search_publications_path, method: :get, local: true do |f| %>
              <div width="100%">
                <%= f.radio_button :autolyse, false, :checked => false %>
                <%= f.label :autolyse, "Offre", :value => "offre" %>
                <%= f.radio_button :autolyse, false, :checked => false %>
                <%= f.label :autolyse, "Demande", :value => "demande" %>
              </div>
              <div width="100%">
                <%= f.text_field :category_search, placeholder: "Catégorie" , style: "width: 300px" %>
                <%= f.text_field :libelle_search, placeholder: "Que recherchez-vous ?" , style: "width: 300px" %>
                <%= f.text_field :ville_search,  placeholder: "Saisissez une ville" , style: "width: 300px" %>
                <%= f.button :type => "submit", class: "btn btn-primary btn-outline-dark text-center text-white" do %>
                  Rechercher
                <% end %>
              </div>
              <% end %>
          </div>
        </header>
        <!-- Section-->
        <section class="py-6">
            <div class="container px-4 px-lg-5 mt-5" style="overflow-y: scroll; max-height: 1000px">
                <% @publications.each do |publication| %>
                <div class="row">
                    <div class="col">
                        <div with="100%" height="400px">
                            <!-- Product image-->
                            <div style="float:left" style="min-height: 200px">
                              <% if publication.icone.present? %>
                              <%= image_tag publication.icone.url(:medium) %>
                              <%end%>
                            </div>
                              <!-- Product details-->
                            <div class="card-body p-4">                              
                                  <div>
                                    <table>
                                      <!-- Product name-->  
                                      <tr><td><span class="fw-bolder"><%= link_to publication.titre, publication %></span></td></tr>
                                      <!-- Product price-->
                                      <tr><td><span class="fw-bolder"><%=  publication.prix %> EUR</span></td></tr>
                                      <tr><td><br/><span ><%=  publication.classification.libelle %></span></td></tr>
                                      <tr><td><%= publication.user.name%></td></tr>
                                      <tr><td><span><%=  publication.adresse %></span></td></tr>
                                    </table>
                                  </div>
                                </div>
                        </div>
                        <br/><br/>
                    </div>
                </div>
                <%end%>
              </div>
        </section>
