        <!-- Header-->
        <header>
          <p style="color: green"><%= notice %></p>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row">
                    <div class="col">
                        <div with="100%" height="400px">
                            <!-- Product image-->
                            <div style="float:left" style="min-height: 300px">
                              <% if @publication.icone.present? %>
                              <%= image_tag @publication.icone.url(:medium) %>
                              <%end%>
                            </div>
                      </div>
                    </div>
                    <div class="col">
                        <table>
                          <tbody>
                            <tr><td><b>Titre:</b></td><td><span class="" style="background-color: green; color: white"><%=@publication.titre%></span></td></tr>
                            <tr><td><b>Description:</b></td><td><p class=""  style="background-color: #ced4da; color: black"><%=@publication.description%></p></td></tr>
                            <tr><td><b>Prix:</b></td><td><span class="" style="background-color: #dc3545; color: white"><%=@publication.prix%></span></td></tr>
                            <tr><td><b>Catégorie:</b></td><td><span class="" style="background-color: #ced4da; color: black"><%=@publication.classification.libelle%></span></td></tr>
                            <tr><td><b>Adresse:</b></td><td><span class=""  style="background-color: #ced4da; color: black"><%=@publication.adresse%></span></td></tr>
                            <tr><td><b>Région:</b></td><td><span class=""  style="background-color: #ced4da; color: black"><%=@publication.region.nom%></span></td></tr>
                            <tr><td><b>Créateur/Propriétaire:</b></td><td><span class=""  style="background-color: #ced4da; color: black"><%=@publication.user.name%></span></td></tr>
                            <tr><td><b>Contact:</b></td><td><span class=""  style="background-color: #ced4da; color: black"><%=@publication.user.contact%></span></td></tr>
                            <tr><td colspan="4"> 
                              <br/><br/> 
                              <% if @publication.user == current_user %>
                                <span class="nav-item"><%= link_to 'Modifier', edit_publication_path(@publication), class:"btn btn-outline-dark" %></span>
                                <span class="nav-item"><%= link_to 'Supprimer', @publication, class:"btn btn-outline-dark"  , method: :delete, data: { confirm: 'Veuillez confirmer la suppression?' } %><span>
                              <% end %>
                            </td></tr>  

                          </tbody>
                        </table>
                    </div>
                </div>
              </div>
        </section>
