<div id="<%= dom_id paysannonce %>">
  <p>
    <strong>Code:</strong>
    <%= paysannonce.code %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= paysannonce.nom %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= paysannonce.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= paysannonce.longitude %>
  </p>

</div>
