<h1>Editing paysannonce</h1>

<%= render "form", paysannonce: @paysannonce %>

<br>

<div>
  <%= link_to "Show this paysannonce", @paysannonce %> |
  <%= link_to "Back to paysannonces", paysannonces_path %>
</div>
