<p style="color: green"><%= notice %></p>

<h1>Paysannonces</h1>

<div id="paysannonces">
  <% @paysannonces.each do |paysannonce| %>
    <%= render paysannonce %>
    <p>
      <%= link_to "Show this paysannonce", paysannonce %>
    </p>
  <% end %>
</div>

<%= link_to "New paysannonce", new_paysannonce_path %>
