<p style="color: green"><%= notice %></p>

<%= render @paysannonce %>

<div>
  <%= link_to "Edit this paysannonce", edit_paysannonce_path(@paysannonce) %> |
  <%= link_to "Back to paysannonces", paysannonces_path %>

  <%= button_to "Destroy this paysannonce", @paysannonce, method: :delete %>
</div>
