<div id="<%= dom_id arrondissement %>">
  <p>
    <strong>Code:</strong>
    <%= arrondissement.code %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= arrondissement.nom %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= arrondissement.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= arrondissement.longitude %>
  </p>

  <p>
    <strong>Departement:</strong>
    <%= arrondissement.departement_id %>
  </p>

</div>
