<%= form_with(model: arrondissement) do |form| %>
  <% if arrondissement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(arrondissement.errors.count, "error") %> prohibited this arrondissement from being saved:</h2>

      <ul>
        <% arrondissement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :departement_id, style: "display: block" %>
    <%= form.text_field :departement_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
