<h1>Editing arrondissement</h1>

<%= render "form", arrondissement: @arrondissement %>

<br>

<div>
  <%= link_to "Show this arrondissement", @arrondissement %> |
  <%= link_to "Back to arrondissements", arrondissements_path %>
</div>
