<p style="color: green"><%= notice %></p>

<h1>Arrondissements</h1>

<div id="arrondissements">
  <% @arrondissements.each do |arrondissement| %>
    <%= render arrondissement %>
    <p>
      <%= link_to "Show this arrondissement", arrondissement %>
    </p>
  <% end %>
</div>

<%= link_to "New arrondissement", new_arrondissement_path %>
