<p style="color: green"><%= notice %></p>

<%= render @arrondissement %>

<div>
  <%= link_to "Edit this arrondissement", edit_arrondissement_path(@arrondissement) %> |
  <%= link_to "Back to arrondissements", arrondissements_path %>

  <%= button_to "Destroy this arrondissement", @arrondissement, method: :delete %>
</div>
