<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> Des erreurs sont survenues à l'enregistrement:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %> 
    <%= form.text_field :name %> 

    <%= form.label :email %> 
    <%= form.email_field :email %> 

    <%= form.label :contact %> 
    <%= form.text_field :contact %> 

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation %>
    
    <%= form.submit %>
  </div>
<% end %>
