<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      </tbody>
  </table>
</div>

<%= link_to "New user", new_user_path %>
