<div id="<%= dom_id attributclassification %>">
  <p>
    <strong>Code:</strong>
    <%= attributclassification.code %>
  </p>

  <p>
    <strong>Libelle:</strong>
    <%= attributclassification.libelle %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= attributclassification.type %>
  </p>

  <p>
    <strong>Longueur:</strong>
    <%= attributclassification.longueur %>
  </p>

  <p>
    <strong>Nbdecimal:</strong>
    <%= attributclassification.nbdecimal %>
  </p>

  <p>
    <strong>Zonefiltre:</strong>
    <%= attributclassification.zonefiltre %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= attributclassification.classification_id %>
  </p>

</div>
