<%= form_with(model: attributclassification) do |form| %>
  <% if attributclassification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attributclassification.errors.count, "error") %> prohibited this attributclassification from being saved:</h2>

      <ul>
        <% attributclassification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :libelle, style: "display: block" %>
    <%= form.text_field :libelle %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :longueur, style: "display: block" %>
    <%= form.number_field :longueur %>
  </div>

  <div>
    <%= form.label :nbdecimal, style: "display: block" %>
    <%= form.number_field :nbdecimal %>
  </div>

  <div>
    <%= form.label :zonefiltre, style: "display: block" %>
    <%= form.check_box :zonefiltre %>
  </div>

  <div>
    <%= form.label :classification_id, style: "display: block" %>
    <%= form.text_field :classification_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
