<h1>Editing attributclassification</h1>

<%= render "form", attributclassification: @attributclassification %>

<br>

<div>
  <%= link_to "Show this attributclassification", @attributclassification %> |
  <%= link_to "Back to attributclassifications", attributclassifications_path %>
</div>
