<p style="color: green"><%= notice %></p>

<h1>Attributclassifications</h1>

<div id="attributclassifications">
  <% @attributclassifications.each do |attributclassification| %>
    <%= render attributclassification %>
    <p>
      <%= link_to "Show this attributclassification", attributclassification %>
    </p>
  <% end %>
</div>

<%= link_to "New attributclassification", new_attributclassification_path %>
