<h1>New attributclassification</h1>

<%= render "form", attributclassification: @attributclassification %>

<br>

<div>
  <%= link_to "Back to attributclassifications", attributclassifications_path %>
</div>
