<p style="color: green"><%= notice %></p>

<%= render @attributclassification %>

<div>
  <%= link_to "Edit this attributclassification", edit_attributclassification_path(@attributclassification) %> |
  <%= link_to "Back to attributclassifications", attributclassifications_path %>

  <%= button_to "Destroy this attributclassification", @attributclassification, method: :delete %>
</div>
