<div id="<%= dom_id departement %>">
  <p>
    <strong>Code:</strong>
    <%= departement.code %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= departement.nom %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= departement.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= departement.longitude %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= departement.region_id %>
  </p>

</div>
