<div id="<%= dom_id classification %>">
  <p>
    <strong>Code:</strong>
    <%= classification.code %>
  </p>

  <p>
    <strong>Libelle:</strong>
    <%= classification.libelle %>
  </p>

  <p>
    <strong>Icone file name:</strong>
    <%= classification.icone_file_name %>
  </p>

  <p>
    <strong>Icone file size:</strong>
    <%= classification.icone_file_size %>
  </p>

  <p>
    <strong>Icone content type:</strong>
    <%= classification.icone_content_type %>
  </p>

  <p>
    <strong>Icone updated at:</strong>
    <%= classification.icone_updated_at %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= classification.classification_id %>
  </p>

</div>
