<%= form_with(model: classification) do |form| %>
  <% if classification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classification.errors.count, "error") %> prohibited this classification from being saved:</h2>

      <ul>
        <% classification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :libelle, style: "display: block" %>
    <%= form.text_field :libelle %>
  </div>

  <div>
      <%= form.label :icone %>
      <%= form.file_field :icone %>
  </div>

  <div>
    <%= form.label :classification_id, style: "display: block" %>
    <%= form.text_field :classification_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
