<%= form_with(model: piecejointe) do |form| %>
  <% if piecejointe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piecejointe.errors.count, "error") %> prohibited this piecejointe from being saved:</h2>

      <ul>
        <% piecejointe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
      <%= form.label :pj %>
      <%= form.file_field :pj %>
  </div>

  <div>
    <%= form.label :publication_id, style: "display: block" %>
    <%= form.text_field :publication_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
