<div id="<%= dom_id piecejointe %>">
  <p>
    <strong>Nom:</strong>
    <%= piecejointe.nom %>
  </p>

  <p>
    <strong>Pj file name:</strong>
    <%= piecejointe.pj_file_name %>
  </p>

  <p>
    <strong>Pj file size:</strong>
    <%= piecejointe.pj_file_size %>
  </p>

  <p>
    <strong>Pj content type:</strong>
    <%= piecejointe.pj_content_type %>
  </p>

  <p>
    <strong>Pj updated at:</strong>
    <%= piecejointe.pj_updated_at %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= piecejointe.publication_id %>
  </p>

</div>
