<h1>Editing piecejointe</h1>

<%= render "form", piecejointe: @piecejointe %>

<br>

<div>
  <%= link_to "Show this piecejointe", @piecejointe %> |
  <%= link_to "Back to piecejointes", piecejointes_path %>
</div>
