<p style="color: green"><%= notice %></p>

<h1>Piecejointes</h1>

<div id="piecejointes">
  <% @piecejointes.each do |piecejointe| %>
    <%= render piecejointe %>
    <p>
      <%= link_to "Show this piecejointe", piecejointe %>
    </p>
  <% end %>
</div>

<%= link_to "New piecejointe", new_piecejointe_path %>
