<p style="color: green"><%= notice %></p>

<%= render @piecejointe %>

<div>
  <%= link_to "Edit this piecejointe", edit_piecejointe_path(@piecejointe) %> |
  <%= link_to "Back to piecejointes", piecejointes_path %>

  <%= button_to "Destroy this piecejointe", @piecejointe, method: :delete %>
</div>
