<div id="<%= dom_id attributpublication %>">
  <p>
    <strong>Valeur:</strong>
    <%= attributpublication.valeur %>
  </p>

  <p>
    <strong>Attributclassification:</strong>
    <%= attributpublication.attributclassification_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= attributpublication.publication_id %>
  </p>

</div>
