<%= form_with(model: attributpublication) do |form| %>
  <% if attributpublication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attributpublication.errors.count, "error") %> prohibited this attributpublication from being saved:</h2>

      <ul>
        <% attributpublication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :valeur, style: "display: block" %>
    <%= form.text_field :valeur %>
  </div>

  <div>
    <%= form.label :attributclassification_id, style: "display: block" %>
    <%= form.text_field :attributclassification_id %>
  </div>

  <div>
    <%= form.label :publication_id, style: "display: block" %>
    <%= form.text_field :publication_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
