<h1>Editing attributpublication</h1>

<%= render "form", attributpublication: @attributpublication %>

<br>

<div>
  <%= link_to "Show this attributpublication", @attributpublication %> |
  <%= link_to "Back to attributpublications", attributpublications_path %>
</div>
