<p style="color: green"><%= notice %></p>

<h1>Attributpublications</h1>

<div id="attributpublications">
  <% @attributpublications.each do |attributpublication| %>
    <%= render attributpublication %>
    <p>
      <%= link_to "Show this attributpublication", attributpublication %>
    </p>
  <% end %>
</div>

<%= link_to "New attributpublication", new_attributpublication_path %>
