<p style="color: green"><%= notice %></p>

<%= render @attributpublication %>

<div>
  <%= link_to "Edit this attributpublication", edit_attributpublication_path(@attributpublication) %> |
  <%= link_to "Back to attributpublications", attributpublications_path %>

  <%= button_to "Destroy this attributpublication", @attributpublication, method: :delete %>
</div>
