<div id="<%= dom_id region %>">
  <p>
    <strong>Code:</strong>
    <%= region.code %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= region.nom %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= region.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= region.longitude %>
  </p>

  <p>
    <strong>Paysannonce:</strong>
    <%= region.paysannonce_id %>
  </p>

</div>
