<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>La bonne affaire - Site d'annonces gratuite</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", media: 'all',  "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", media: 'all', "data-turbo-track": "reload" %>

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                
                <span class="navbar-brand"><b><font color="orange"><%= link_to 'La bonne affaire', search_publications_path, class:"navbar-brand", style: "color: orange" %></font></b></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                      <li class="nav-item"><%= link_to "Accueil", search_publications_path , class:"btn btn-outline-dark"%></li>&nbsp;&nbsp;
                      <% if current_user %>
                        <li class="nav-item"><%= link_to 'Créer une annonce', new_publication_path, class:"btn btn-outline-dark" %></li>
                      <% else %>
                        <li class="nav-item"><%= link_to 'Se connecter', login_path, class:"btn btn-outline-dark" %></li>&nbsp;&nbsp;
                        
                        <li class="nav-item"><%= link_to 'Créer un compte', new_user_path, class:"btn btn-outline-dark" %></li>
                      <% end %>
                    </ul>
                    <div class="d-flex">
                        <% if current_user %>
                        <div>
                          <span>Bonjour <%= link_to current_user.name, edit_user_path(current_user) %></span>
                          <br/>
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><%= link_to 'Se déconnecter', logout_path, method: :delete, class:"nav-link", style: "color: red; font-weight: bold" %></li>
                          </ul>
                        </div>
                        <% end %>

                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Panier
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div align="center" style="margin-left: 20px; min-width: 500px" >
        <%= yield %>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-light">
            <div class="container"><p class="m-1 text-center text-black">Copyright &copy; La bonne affaire 2022</p></div>
        </footer>
    </body>
</html>
